*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: rgb(146, 164, 182);
    padding: 10px 20px;
    max-width: 100%;
}
/*  */
.menubar{
    height: 90px;
    max-width: 100%;
   
}

.menubar ul{
    
    
}

.menubar ul li {
    
    
    display: inline-block;
    background-color: blanchedalmond;
    padding: 10px 20px ;
}
.menubar ul li a{
    text-decoration: none;
    
    color: #000;
}
/*  */
.headline{
    background-color: chartreuse;
    /* display: inline-block; */
    /* text-align: center; */
    max-width: 100%;
    margin: 0 auto;
    
}
.headline h2{
    
}
.headline h4{
    
} 
